/* label.ant-form-item-required {
  width: 90% !important;
  font-size: 45px !important;
  text-align: center !important;
} */

label.ant-form-item-required {
  font-size: 45px !important;
}

/* .ant-form-item .ant-form-item-control {
  place-self: center;
} */

.ant-form {
  background-color: #0847e2;
  border-color: white !important;
  border-radius: 35px;
  border: 3px solid white !important;
  padding: 45px;
  /* padding-top: 100px !important; */
  height: 42vh;
  width: 80vw;
  margin-top: 140px;
  margin-left: 110px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.ant-form-item .ant-form-item-label > label {
  color: white !important;
  font-size: 40px !important;
  font-weight: 400 !important;
  margin-bottom: 30px;
  /* padding-bottom: 80px !important; */
}

.btn-form {
  /* margin-top: 300px !important; */
  color: white !important;
  font-weight: 400 !important;
  background-color: #0847e2 !important;
  text-align: center;
  border: 3px solid white !important;
  margin-top: 15px !important;
  /* width: 680px !important; */
  /* margin-left: -220px !important; */
}

.react-simple-keyboard {
  width: 100% !important;
  padding: 20px !important;
  margin-top: 85px !important;
  margin-left: 1px !important;
  margin-right: 100px !important;
  background-color: darkslateblue !important;
  height: 20vh !important;
}

/* .ant-input-outlined {
  font-size: 35px !important;
} */

.ant-form-item .ant-form-item-explain-error {
  font-size: 25px !important;
  color: red !important;
  font-weight: 500;
  margin-top: 25px !important;
}

.btn-notfilled {
  background-color: white !important;
  color: #a7aaba !important;
  font-weight: 400 !important;
  text-align: center;
  border: 3px solid white !important;
  margin-top: 15px !important;
}
/* 
:where(.css-dev-only-do-not-override-mzwlov).ant-row {
  display: flex !important;
  flex-direction: column !important;
} */

.ant-input-outlined {
  font-size: 35px !important;
  width: 765px !important;
  /* margin-left: -8px !important; */
}

.header-form {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
/* 
.form-username {
  padding-top: -20px !important;
} */
