label.ant-form-item-required {
    width: 90% !important;
    font-size: 45px !important;
    height: 8vh !important;
    text-align: center !important;
    margin-bottom: 2px;
}

.ant-form-item .ant-form-item-control {
    place-self: center;
}

.ant-form {
    background-color: #005ce6;
    border-color: white !important;
    border-radius: 35px;
    border-color: white !important;
    padding-top: 100px !important;
    height: 50vh;
    width: 80vw;
    margin-top: 120px;
    margin-left: 110px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.ant-form-item .ant-form-item-label >label {
    color: white !important;
    font-weight: 400 !important;
    padding-bottom: 60px !important;
}

.form-input-nama {
    height: 5vh !important;
    width: 90%;
}

.form-input-nomor {
    height: 5vh !important;
    width: 90%;
    margin-top: 20px;
}

.btn-form {
    margin-top: 450px !important;
    color: blue !important;
    font-weight: 400 !important;
    background-color: white !important;
    text-align: center;
    margin-right: 100px !important;
    width: 680px !important;
    margin-left: -180px !important;

}

.react-simple-keyboard {
    width: 100% !important;
    padding: 20px !important;
    margin-top: 85px !important;
    margin-left: 1px !important;
    margin-right: 100px !important;
    background-color: darkslateblue !important;
    height: 20vh !important;
}

.ant-input-outlined {
    font-size: 35px !important;
}

.ant-form-item .ant-form-item-explain-error {
    font-size: 35px !important;
    color: red !important;
    font-weight: 500;
}

.btn-notfilled {
    background-color: #EEEFF3 !important;
    margin-top: 400px !important;
    color: #A7AABA !important;
    font-weight: 600;
    text-align: center;
    width: 775px !important;
    margin-left: -250px !important;  
}

:where(.css-dev-only-do-not-override-mzwlov).ant-row {
   display: flex !important;
   flex-direction: column !important;
}

.ant-input-outlined {
    font-size: 35px !important;
    width: 765px !important;
    margin-left: -8px !important;
}