label.ant-form-item-required {
  font-size: 45px !important;
}

.ant-form {
  background-color: #0847e2;
  border-color: white !important;
  border-radius: 35px;
  border: 3px solid white !important;
  padding: 45px;
  height: 42vh;
  width: 80vw;
  margin-top: 0px;
  margin-left: 110px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.ant-form-item .ant-form-item-label > label {
  color: white !important;
  font-size: 40px !important;
  font-weight: 400 !important;
  margin-bottom: 30px;
}

.btn-form {
  color: white !important;
  font-weight: 400 !important;
  background-color: #0847e2 !important;
  text-align: center;
  border: 3px solid white !important;
  margin-top: 5px !important;
  width: 100% !important;
  margin-left: 1px;
}

.btn-notfilled {
  background-color: white !important;
  color: #a7aaba !important;
  font-weight: 400 !important;
  text-align: center;
  border: 3px solid white !important;
  margin-top: 5px !important;
  width: 100% !important;
  margin-left: 1px;
}

.ant-form-item .ant-form-item-explain-error {
  font-size: 25px !important;
  color: red !important;
  font-weight: 500;
  margin-top: 25px !important;
}

.ant-input-outlined {
  font-size: 55px !important;
  width: 765px !important;
}

.header-form {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
