.ant-modal-title {
  text-align: center;
  font-size: 70px !important;
  color: blue !important;
}

.ant-modal {
    text-align: -webkit-center !important;
    max-width: unset;
    margin: unset;
}

.ant-modal-centered::before {
    content: unset;
}

.ant-modal-root .ant-modal-centered .ant-modal {
  top: 110px !important;
}

.ant-modal-content {
  width: 100% !important;
  height: 67vh !important;
  border-radius: 30px !important;
  margin-top: 100px !important;
  padding-top: 120px !important;
  padding-bottom: 1px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
}

.ant-btn {
  font-size: 50px !important;
  width: 30vw !important;
  height: 6vh !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.ant-modal .ant-modal-footer {
  padding: 0px !important;
}

